---
import AboutCta from "@/components/about/AboutCta.astro";
import Hero from "@/components/about/Hero.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const { title, description, meta_title, image, hero, call_to_action } =
  about.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <Hero hero={hero} />
  <section class="section">
    <h2 class="text-center mb-9">Aici poze cu personalul?</h2>
  </section>
  <AboutCta call_to_action={call_to_action} />

  <section>
    <div class="container pt-8">
      <hr class="w-full border-b border-t-0 border-dark" />
    </div>
  </section>
</Base>
