---
import AboutCta from "@/components/about/AboutCta.astro";
import Hero from "@/components/about/Hero.astro";
import TeamMember from "@/components/about/TeamMember.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const {
  title,
  description,
  meta_title,
  image,
  hero,
  call_to_action,
  team_members,
} = about.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <Hero hero={hero} />
  {
    team_members.map((team_member: any) => (
      <TeamMember team_member={team_member} />
    ))
  }
  <AboutCta call_to_action={call_to_action} />

  <section>
    <div class="container pt-8">
      <hr class="w-full border-b border-t-0 border-dark" />
    </div>
  </section>
</Base>


<style is:global>
  .team-member-container:nth-child(even) .team-member-inner-container {
    flex-direction: row-reverse!important;
  }

  .team-member-container:nth-child(even) .team-member-inner-container .flex.flex-col.justify-between.h-full {
    text-align: end;
  }
</style>