---
import CustomAccordion from "@/components/CustomAccordion";
import Blog from "@/components/homepage/Blog.astro";
import Feature from "@/components/homepage/Feature.astro";
import Step from "@/components/homepage/Step.astro";
import Base from "@/layouts/Base.astro";
import Hero from "@/layouts/components/homepage/Hero.astro";
import Testimonial from "@/layouts/components/homepage/Testimonial.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("homepage", "-index");
const { hero, brand, step, feature } = homepage.data;
const faq = await getEntry("sections", "faq");
---

<Base>
  <Hero hero={hero} brand={brand} />
  <Step step={step} />
  <Feature feature={feature} />
  <CustomAccordion faqs={faq.data} client:load />
  <!-- <Testimonial /> -->
  <!-- <Blog /> -->
  <section>
    <div class="container">
      <hr class="w-full border-b border-t-0 border-dark" />
    </div>
  </section>
</Base>
